body {
    font-family: "Segoe UI", sans-serif;
    margin: 0;
    background: #fff;
    color: #222;
}

body.conference-page .container {
    max-width: 1500px; /* instead of 900px */
    margin: 0 15px;
}

.container {
    display: flex;
    max-width: 900px;
    margin: 50px auto;
    padding: 20px;
    gap: 40px;
}

.left {
    text-align: center;
    width: 35%;
}

.left img {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    object-fit: cover;
}

.left h2 {
    margin-top: 15px;
    margin-bottom: 5px;
}

.left p {
    margin: 5px 0;
    color: #666;
}

.icons a {
    margin: 0 5px;
    display: inline-block;
    font-size: 24px;
    text-decoration: none;
}

.right {
    width: 65%;
}

.right h1 {
    font-size: 28px;
    margin-bottom: 10px;
}

.right p {
    font-size: 16px;
    line-height: 1.5;
    text-align: justify;
}

@media (max-width: 768px) {
    .container {
        flex-direction: column;
        padding: 20px;
        max-width: 100%;
    }

    .left,
    .right {
        width: 100%;
        padding-left: 0;
        text-align: center;
    }

    .right {
        margin-top: 20px;
    }

    .left img {
        width: 250px;
        height: 250px;
        margin: 0 auto;
    }

    .right p {
        text-align: justify;
        max-width: 600px;
        margin-left: auto;
        margin-right: auto;
    }

}


.conference-refs-inside {
    text-align: left;
    list-style: none;
    padding-left: 0;
    margin-top: 10px;
}


.conference-refs {
    list-style: none;
    padding-left: 0;
    margin-top: 20px;
}

.conference-refs li {
    margin-bottom: 12px;
    padding-left: 10px;
    border-left: 3px solid #4a90e2;
}

.conference-refs a {
    text-decoration: none;
    color: #4a90e2;
    font-weight: 500;
    transition: color 0.2s;
}

.conference-refs a:hover {
    color: #2d6fb6;
}

.right h2 {
    font-size: 22px;
    margin-top: 25px;
    margin-bottom: 10px;
    color: #333;
}

.downloads a {
    display: inline-block;
    margin-bottom: 10px;
}


.right p.abstract-text {
    text-align: left !important;
    margin: 0;
    max-width: 600px;
}

@media (max-width: 768px) {
    .right p.abstract-text {
        text-align: center !important;
    }
}